name: Build and Test AES

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive # python-aes is a submodule

      - name: List python-aes directory
        run: ls -R python-aes

      - name: Install build tools
        run: sudo apt-get install -y make gcc

      - name: Build C shared library
        run: make

      - name: Run tests
        run: python3 test/test_aes.py
